@{
    ViewData["Title"] = "Home Page";
}
        <form method="post" asp-controller="Home" asp-action="Index">
        
            <div id="tweet-box">
                <div id="profile-box">
                    <div id="name-box">
                        <img = src="https://engineer.kmitl.ac.th/wp-content/uploads/2019/03/logo06-300x270.png" alt="profile" />
                        <a><h4 style="">สถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง</h4></a>
                    </div>

                    <textarea type="text" id="tweet-input" name="tweet_input" placeholder="What's happening?" style="width:575px; height: 19px;"></textarea>
                </div>
            </div>
            <div id="button-main">
                <button id="upload-img">อัพโหลดรูปภาพ</button>
                <button id="upload-addr">เพิ่มที่อยู่</button>
                <button id="tweet-button" type="submit">โพสต์</button>
            </div>

        </form>



        
            

